<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Trabajo final HTML/CSS">
    <meta name="author" content="Raul Gómez García">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--LINK HOJA DE ESTILOS-->
    <link rel="stylesheet" href="../css/styles.css">
    <!--ICONO PAGINA WEB-->
    <link rel="shortcut icon" href="../icono.ico" type="image/x-icon">
    <title>SNEAKERSHEAD</title>
    
</head>
<body>
    <!--CABECERA Y BARRA DE NAVEGACIÓN-->
    <header>
        <img src="../images/logo-nike.png" alt="logo de empresa" class="img-logo" title="logo de empresa" width="512" height="512">
        <h1 class="titulo">SneakerShoot</h1>
    </header>
    <div class="link-box">
        <ul class="nav-links">
            <li>
                <a href="../index.html">Inicio</a>
            </li>
            <li>
                <a href="#" class="active">Contacto</a>
            </li>
            <li>
                <a href="./presupuesto.html">Compramos</a>
            </li>
            <li>
                <a href="./productos.html">Productos</a>
            </li>
        </ul>
    </div>

    <!--CUERPO DE LA PAGINA-->
    <main>
        <section class="contacto">
            <h2>¿Donde nos encontramos?</h2>
            <div>
                <ul>
                    <li>Nos encontramos en: Calle salitre 24, 29014 Málaga</li>
                    <li>Puedes ponerte en contactco con nosotros de las siguientes formas:</li>
                    <ul>
                        <li>Teléfono: 777 777 777</li>
                        <li>E-mail: sneakershoot@gmail.com</li>
                    </ul>
                </ul>
                <a href="https://maps.app.goo.gl/FEijW5NG3phA6Qkj7"><img src="../images/direccion.png" alt="captura google maps de la direccion" width="427" height="381"></a>
            </div>
        </section>
    </main>

    <!--PIE DE LA PAGINA-->
    <footer>
        <div class="redes-sociales">
            <h3>Redes sociales:</h3>
            <div class="red-social"> 
                <a href="#"><img src="../images/insta.png" alt="logo instagram" width="100" height="100" class="logo-red"></a>
            </div>
            <div class="red-social">
                <a href="#"><img src="../images/facebook.png" alt="logo facebook" width="100" height="100" class="logo-red"></a>
            </div>
            <div class="red-social">
                <a href="#"><img src="../images/twiter.png" alt="Twitter" width="100" height="100" class="logo-red"></a>
                
            </div>
        </div>
        <p>&copy; Todos los derechos reservados</p>
    </footer>
    <script src="../js/#"></script>
</body>
</html>