<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Trabajo final HTML/CSS">
    <meta name="author" content="Raul Gómez García">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--LINK HOJA DE ESTILOS-->
    <link rel="stylesheet" href="../css/styles.css">
    <!--ICONO PAGINA WEB-->
    <link rel="shortcut icon" href="../icono.ico" type="image/x-icon">
    <title>SNEAKERSHEAD</title>
    
</head>
<body>
    <!--CABECERA Y BARRA DE NAVEGACIÓN-->
    <header>
        <img src="../images/logo-nike.png" alt="logo de empresa" class="img-logo" title="logo de empresa" width="512" height="512">
        <h1 class="titulo">SneakerShoot</h1>
    </header>
    <div class="link-box">
        <ul class="nav-links">
            <li>
                <a href="../index.html">Inicio</a>
            </li>
            <li>
                <a href="./contacto.html">Contacto</a>
            </li>
            <li>
                <a href="./presupuesto.html">Compramos</a>
            </li>
            <li>
                <a href="#"  class="active">Productos</a>
            </li>
        </ul>
    </div>

    <!--CUERPO DE LA PAGINA-->
    <main>
        <section>
            <h2>Nuestra Galería</h2>
            <div class="galeria">
                <img src="../images/air-max.png" alt="air max"  class="transicion" height="300" width="300">
                <img src="../images/blazer.png" alt="air max" class="transicion" height="300" width="300">
                <img src="../images/chicago.png" alt="air max" class="transicion" height="300" width="350">
                <p>Air Max OG Univeristy RED</p>
                <p>Blazer Mid</p>
                <p>Air Jordan 1 Mid Chicago</p>
            </div>
            <div class="galeria">
                <img src="../images/dunk-love.png" alt="air max" class="transicion" height="350" width="300">
                <img src="../images/traviss-moca.png" alt="air max" class="transicion" height="300" width="320">
                <img src="../images/vapormax.png" alt="air max" class="transicion" height="300" width="350">
                <p>Dunk SB "City LOVE"</p>
                <p>Air jordan 1 Low Travis Scott Reverse Mocha</p>
                <p>Air VaporMax</p>
            </div>
        </section>
    </main>


    <!--PIE DE LA PAGINA-->
    <footer>
        <div class="redes-sociales">
            <h3>Redes sociales:</h3>
            <div class="red-social"> 
                <a href="#"><img src="../images/insta.png" alt="logo instagram" width="100" height="100" class="logo-red"></a>
            </div>
            <div class="red-social">
                <a href="#"><img src="../images/facebook.png" alt="logo facebook" width="100" height="100" class="logo-red"></a>
            </div>
            <div class="red-social">
                <a href="#"><img src="../images/twiter.png" alt="Twitter" width="100" height="100" class="logo-red"></a>
                
            </div>
        </div>
        <p>&copy; Todos los derechos reservados</p>
    </footer>
    <script src="../js/#"></script>
</body>
</html>